<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.julongtech.system.dao.SystemLoggerExptionDao" >
  <resultMap id="BaseResultMap" type="com.julongtech.system.dao.entity.SystemLoggerExptionInfo" >
    <id column="logger_exption_id" property="loggerExptionId" jdbcType="VARCHAR" />
    <result column="logger_exption_type" property="loggerExptionType" jdbcType="VARCHAR" />
    <result column="logger_exption_time" property="loggerExptionTime" jdbcType="TIMESTAMP" />
    <result column="org_id" property="orgId" jdbcType="VARCHAR" />
    <result column="user_id" property="userId" jdbcType="VARCHAR" />
    <result column="user_name" property="userName" jdbcType="VARCHAR" />
    <result column="logger_exption_ip" property="loggerExptionIp" jdbcType="VARCHAR" />
    <result column="logger_exption_module" property="loggerExptionModule" jdbcType="VARCHAR" />
    <result column="logger_exption_method" property="loggerExptionMethod" jdbcType="VARCHAR" />
    <result column="logger_exption_desc" property="loggerExptionDesc" jdbcType="VARCHAR" />
    <result column="LOGGER_OPERATING_SYSTEM" property="loggerOperatingSystem" jdbcType="VARCHAR" />
    <result column="LOGGER_BROWSER_TYPE" property="loggerBrowserType" jdbcType="VARCHAR" />
    <result column="LOGGER_BROWSER_VERSION" property="loggerBrowserVersion" jdbcType="VARCHAR" />
    <result column="logger_exption_reserve_a" property="loggerExptionReserveA" jdbcType="VARCHAR" />
    <result column="logger_exption_reserve_b" property="loggerExptionReserveB" jdbcType="VARCHAR" />
    <result column="logger_exption_reserve_c" property="loggerExptionReserveC" jdbcType="VARCHAR" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.julongtech.system.dao.entity.SystemLoggerExptionInfo" extends="BaseResultMap" >
    <result column="logger_exption_context" property="loggerExptionContext" jdbcType="CLOB" />
  </resultMap>
  <sql id="Base_Column_List" >
    logger_exption_id, logger_exption_type, logger_exption_time, org_id, user_id, user_name, 
    logger_exption_ip, logger_exption_module, logger_exption_method, logger_exption_desc, logger_operating_system,logger_browser_type,logger_browser_version,
    logger_exption_reserve_a, logger_exption_reserve_b, logger_exption_reserve_c
  </sql>
  <sql id="Blob_Column_List" >
    LOGGER_EXPTION_CONTEXT
  </sql>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from SYSTEM_LOGGER_EXPTION
    where LOGGER_EXPTION_ID = #{loggerExptionId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from SYSTEM_LOGGER_EXPTION
    where LOGGER_EXPTION_ID = #{loggerExptionId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.julongtech.system.dao.entity.SystemLoggerExptionInfo" >
    insert into SYSTEM_LOGGER_EXPTION (LOGGER_EXPTION_ID, LOGGER_EXPTION_TYPE, 
      LOGGER_EXPTION_TIME, ORG_ID, USER_ID, 
      USER_NAME, LOGGER_EXPTION_IP, LOGGER_EXPTION_MODULE, 
      LOGGER_EXPTION_METHOD, LOGGER_EXPTION_DESC, 
      LOGGER_OPERATING_SYSTEM,LOGGER_BROWSER_TYPE,LOGGER_BROWSER_VERSION,
      LOGGER_EXPTION_RESERVE_A, LOGGER_EXPTION_RESERVE_B, 
      LOGGER_EXPTION_RESERVE_C, LOGGER_EXPTION_CONTEXT
      )
    values (#{loggerExptionId,jdbcType=VARCHAR}, #{loggerExptionType,jdbcType=VARCHAR}, 
      #{loggerExptionTime,jdbcType=TIMESTAMP}, #{orgId,jdbcType=VARCHAR}, #{userId,jdbcType=VARCHAR}, 
      #{userName,jdbcType=VARCHAR}, #{loggerExptionIp,jdbcType=VARCHAR}, #{loggerExptionModule,jdbcType=VARCHAR}, 
      #{loggerExptionMethod,jdbcType=VARCHAR}, #{loggerExptionDesc,jdbcType=VARCHAR}, 
      #{loggerOperatingSystem,jdbcType=VARCHAR},#{loggerBrowserType,jdbcType=VARCHAR}, #{loggerBrowserVersion,jdbcType=VARCHAR},
      #{loggerExptionReserveA,jdbcType=VARCHAR}, #{loggerExptionReserveB,jdbcType=VARCHAR}, 
      #{loggerExptionReserveC,jdbcType=VARCHAR}, #{loggerExptionContext,jdbcType=CLOB}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.julongtech.system.dao.entity.SystemLoggerExptionInfo" >
    insert into SYSTEM_LOGGER_EXPTION
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="loggerExptionId != null and loggerExptionId != '' " >
        LOGGER_EXPTION_ID,
      </if>
      <if test="loggerExptionType != null and loggerExptionType != '' " >
        LOGGER_EXPTION_TYPE,
      </if>
      <if test="loggerExptionTime != null and loggerExptionTime != '' " >
        LOGGER_EXPTION_TIME,
      </if>
      <if test="orgId != null and orgId != '' " >
        ORG_ID,
      </if>
      <if test="userId != null and userId != '' " >
        USER_ID,
      </if>
      <if test="userName != null and userName != '' " >
        USER_NAME,
      </if>
      <if test="loggerExptionIp != null and loggerExptionIp != '' " >
        LOGGER_EXPTION_IP,
      </if>
      <if test="loggerExptionModule != null and loggerExptionModule != '' " >
        LOGGER_EXPTION_MODULE,
      </if>
      <if test="loggerExptionMethod != null and loggerExptionMethod != '' " >
        LOGGER_EXPTION_METHOD,
      </if>
      <if test="loggerExptionDesc != null and loggerExptionDesc != '' " >
        LOGGER_EXPTION_DESC,
      </if>
      <if test="loggerOperatingSystem != null and loggerOperatingSystem != '' " >
        LOGGER_OPERATING_SYSTEM,
      </if>
      <if test="loggerBrowserType != null and loggerBrowserType != '' " >
        LOGGER_BROWSER_TYPE,
      </if>
      <if test="loggerBrowserVersion != null and loggerBrowserVersion != '' " >
        LOGGER_BROWSER_VERSION,
      </if>
      <if test="loggerExptionReserveA != null and loggerExptionReserveA != '' " >
        LOGGER_EXPTION_RESERVE_A,
      </if>
      <if test="loggerExptionReserveB != null and loggerExptionReserveB != '' " >
        LOGGER_EXPTION_RESERVE_B,
      </if>
      <if test="loggerExptionReserveC != null and loggerExptionReserveC != '' " >
        LOGGER_EXPTION_RESERVE_C,
      </if>
      <if test="loggerExptionContext != null and loggerExptionContext != '' " >
        LOGGER_EXPTION_CONTEXT,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="loggerExptionId != null and loggerExptionId != '' " >
        #{loggerExptionId,jdbcType=VARCHAR},
      </if>
      <if test="loggerExptionType != null and loggerExptionType != '' " >
        #{loggerExptionType,jdbcType=VARCHAR},
      </if>
      <if test="loggerExptionTime != null and loggerExptionTime != '' " >
        #{loggerExptionTime,jdbcType=TIMESTAMP},
      </if>
      <if test="orgId != null and orgId != '' " >
        #{orgId,jdbcType=VARCHAR},
      </if>
      <if test="userId != null and userId != '' " >
        #{userId,jdbcType=VARCHAR},
      </if>
      <if test="userName != null and userName != '' " >
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="loggerExptionIp != null and loggerExptionIp != '' " >
        #{loggerExptionIp,jdbcType=VARCHAR},
      </if>
      <if test="loggerExptionModule != null and loggerExptionModule != '' " >
        #{loggerExptionModule,jdbcType=VARCHAR},
      </if>
      <if test="loggerExptionMethod != null and loggerExptionMethod != '' " >
        #{loggerExptionMethod,jdbcType=VARCHAR},
      </if>
      <if test="loggerExptionDesc != null and loggerExptionDesc != '' " >
        #{loggerExptionDesc,jdbcType=VARCHAR},
      </if>
      <if test="loggerOperatingSystem != null and loggerOperatingSystem != '' " >
        #{loggerOperatingSystem,jdbcType=VARCHAR},
      </if>
      <if test="loggerBrowserType != null and loggerBrowserType != '' " >
        #{loggerBrowserType,jdbcType=VARCHAR},
      </if>
      <if test="loggerBrowserVersion != null and loggerBrowserVersion != '' " >
        #{loggerBrowserVersion,jdbcType=VARCHAR},
      </if>
      <if test="loggerExptionReserveA != null and loggerExptionReserveA != '' " >
        #{loggerExptionReserveA,jdbcType=VARCHAR},
      </if>
      <if test="loggerExptionReserveB != null and loggerExptionReserveB != '' " >
        #{loggerExptionReserveB,jdbcType=VARCHAR},
      </if>
      <if test="loggerExptionReserveC != null and loggerExptionReserveC != '' " >
        #{loggerExptionReserveC,jdbcType=VARCHAR},
      </if>
      <if test="loggerExptionContext != null and loggerExptionContext != '' " >
        #{loggerExptionContext,jdbcType=CLOB},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.julongtech.system.dao.entity.SystemLoggerExptionInfo" >
    update SYSTEM_LOGGER_EXPTION
    <set >
      <if test="loggerExptionType != null and loggerExptionType != ''" >
        LOGGER_EXPTION_TYPE = #{loggerExptionType,jdbcType=VARCHAR},
      </if>
      <if test="loggerExptionTime != null and loggerExptionTime != ''" >
        LOGGER_EXPTION_TIME = #{loggerExptionTime,jdbcType=TIMESTAMP},
      </if>
      <if test="orgId != null and orgId != ''" >
        ORG_ID = #{orgId,jdbcType=VARCHAR},
      </if>
      <if test="userId != null and userId != ''" >
        USER_ID = #{userId,jdbcType=VARCHAR},
      </if>
      <if test="userName != null and userName != ''" >
        USER_NAME = #{userName,jdbcType=VARCHAR},
      </if>
      <if test="loggerExptionIp != null and loggerExptionIp != ''" >
        LOGGER_EXPTION_IP = #{loggerExptionIp,jdbcType=VARCHAR},
      </if>
      <if test="loggerExptionModule != null and loggerExptionModule != ''" >
        LOGGER_EXPTION_MODULE = #{loggerExptionModule,jdbcType=VARCHAR},
      </if>
      <if test="loggerExptionMethod != null and loggerExptionMethod != ''" >
        LOGGER_EXPTION_METHOD = #{loggerExptionMethod,jdbcType=VARCHAR},
      </if>
      <if test="loggerExptionDesc != null and loggerExptionDesc != ''" >
        LOGGER_EXPTION_DESC = #{loggerExptionDesc,jdbcType=VARCHAR},
      </if>
      <if test="loggerResponseTime != null and loggerResponseTime != ''" >
        LOGGER_RESPONSE_TIME = #{loggerResponseTime,jdbcType=VARCHAR},
      </if>
       <if test="loggerOperatingSystem != null and loggerOperatingSystem != '' " >
        LOGGER_OPERATING_SYSTEM = #{loggerOperatingSystem,jdbcType=VARCHAR},
      </if>
      <if test="loggerBrowserType != null and loggerBrowserType != '' " >
        LOGGER_BROWSER_TYPE = #{loggerBrowserType,jdbcType=VARCHAR},
      </if>
      <if test="loggerBrowserVersion != null and loggerBrowserVersion != '' " >
        LOGGER_BROWSER_VERSION = #{loggerBrowserVersion,jdbcType=VARCHAR},
      </if>
      <if test="loggerExptionReserveA != null and loggerExptionReserveA != ''" >
        LOGGER_EXPTION_RESERVE_A = #{loggerExptionReserveA,jdbcType=VARCHAR},
      </if>
      <if test="loggerExptionReserveB != null and loggerExptionReserveB != ''" >
        LOGGER_EXPTION_RESERVE_B = #{loggerExptionReserveB,jdbcType=VARCHAR},
      </if>
      <if test="loggerExptionReserveC != null and loggerExptionReserveC != ''" >
        LOGGER_EXPTION_RESERVE_C = #{loggerExptionReserveC,jdbcType=VARCHAR},
      </if>
      <if test="loggerExptionContext != null and loggerExptionContext != ''" >
        LOGGER_EXPTION_CONTEXT = #{loggerExptionContext,jdbcType=CLOB},
      </if>
    </set>
    where LOGGER_EXPTION_ID = #{loggerExptionId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.julongtech.system.dao.entity.SystemLoggerExptionInfo" >
    update SYSTEM_LOGGER_EXPTION
    set LOGGER_EXPTION_TYPE = #{loggerExptionType,jdbcType=VARCHAR},
      LOGGER_EXPTION_TIME = #{loggerExptionTime,jdbcType=TIMESTAMP},
      ORG_ID = #{orgId,jdbcType=VARCHAR},
      USER_ID = #{userId,jdbcType=VARCHAR},
      USER_NAME = #{userName,jdbcType=VARCHAR},
      LOGGER_EXPTION_IP = #{loggerExptionIp,jdbcType=VARCHAR},
      LOGGER_EXPTION_MODULE = #{loggerExptionModule,jdbcType=VARCHAR},
      LOGGER_EXPTION_METHOD = #{loggerExptionMethod,jdbcType=VARCHAR},
      LOGGER_EXPTION_DESC = #{loggerExptionDesc,jdbcType=VARCHAR},
      LOGGER_OPERATING_SYSTEM = #{loggerOperatingSystem,jdbcType=VARCHAR},
      LOGGER_BROWSER_TYPE = #{loggerBrowserType,jdbcType=VARCHAR},
      LOGGER_BROWSER_VERSION = #{loggerBrowserVersion,jdbcType=VARCHAR},
      LOGGER_EXPTION_RESERVE_A = #{loggerExptionReserveA,jdbcType=VARCHAR},
      LOGGER_EXPTION_RESERVE_B = #{loggerExptionReserveB,jdbcType=VARCHAR},
      LOGGER_EXPTION_RESERVE_C = #{loggerExptionReserveC,jdbcType=VARCHAR},
      LOGGER_EXPTION_CONTEXT = #{loggerExptionContext,jdbcType=CLOB}
    where LOGGER_EXPTION_ID = #{loggerExptionId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.julongtech.system.dao.entity.SystemLoggerExptionInfo" >
    update SYSTEM_LOGGER_EXPTION
    set LOGGER_EXPTION_TYPE = #{loggerExptionType,jdbcType=VARCHAR},
      LOGGER_EXPTION_TIME = #{loggerExptionTime,jdbcType=TIMESTAMP},
      ORG_ID = #{orgId,jdbcType=VARCHAR},
      USER_ID = #{userId,jdbcType=VARCHAR},
      USER_NAME = #{userName,jdbcType=VARCHAR},
      LOGGER_EXPTION_IP = #{loggerExptionIp,jdbcType=VARCHAR},
      LOGGER_EXPTION_MODULE = #{loggerExptionModule,jdbcType=VARCHAR},
      LOGGER_EXPTION_METHOD = #{loggerExptionMethod,jdbcType=VARCHAR},
      LOGGER_EXPTION_DESC = #{loggerExptionDesc,jdbcType=VARCHAR},
      LOGGER_OPERATING_SYSTEM = #{loggerOperatingSystem,jdbcType=VARCHAR},
      LOGGER_BROWSER_TYPE = #{loggerBrowserType,jdbcType=VARCHAR},
      LOGGER_BROWSER_VERSION = #{loggerBrowserVersion,jdbcType=VARCHAR},
      LOGGER_EXPTION_RESERVE_A = #{loggerExptionReserveA,jdbcType=VARCHAR},
      LOGGER_EXPTION_RESERVE_B = #{loggerExptionReserveB,jdbcType=VARCHAR},
      LOGGER_EXPTION_RESERVE_C = #{loggerExptionReserveC,jdbcType=VARCHAR}
    where LOGGER_EXPTION_ID = #{loggerExptionId,jdbcType=VARCHAR}
  </update>
</mapper>